.container
  .col-md-10
    .row
      %h2
        Whoa there pal!
      .container
        .row
          %p
            If you have been redirected this page, it may be because you have
            attempted to access a URL within Code Valet which has been
            discontinued.
          %p
            Sorry about that, there are only so many bananas to go around.
