.container
  .row
    .col-md-12
      %h2
        Meet Code Valet
      %p
        Code Valet is a free and open source service which provides CI/CD
        tooling for open source developers via:
        %a{:href => 'https://jenkins.io'}
          Jenkins&reg; 2
        with
        %a{:href => 'https://jenkins.io/doc/book/pipeline'}
          Jenkins Pipeline
        and
        %a{:href => 'https://jenkins.io/project/blueocean'}
          Blue Ocean.
  .row
    .col-lg-12
      %p
        Integrating with Code Valet is as simple as importing an existing
        %code
          Jenkinsfile
        from a source repository, or creating a new
        %code
          Jenkinsfile
        and checking it into an open source
        %a{:href => 'https://github.com/'}
          GitHub
        repository.  Building off of existing open source tools and
        technologies, Code Valet users have maximum flexibility, along with the
        latest features and fixes, for their projects.

      .alert.alert-warning
        Code Valet is currently in private alpha.

      %img.img-fluid{:src => '/images/create-new-pipeline.png'}

  .row
    .col-md-12
      %h2
        How it works
      %img{:src => '/images/monkey-128.png',
           :title => 'Max the Code Monkey',
           :align => :right}
      %p
        One of the goals of Code Valet is to provide the Jenkins project with
        rapid feedback based on real-world usage of Jenkins. This means rather
        than following the Jenkins project's
        %a{:href => 'https://en.wikipedia.org/wiki/Software_release_train'}
          release-train model
        Code Valet practices a more radical
        %a{:href => 'https://en.wikipedia.org/wiki/Continuous_delivery'}
          continuous delivery model.
      %p
        To that end, Code Valet builds a regularly updated "Jenkins
        distribution" consisting of many commonly used
        %a{:href => 'https://plugins.jenkins.io'}
          plugins
        built from their "master" branches,
