.container
  %h2
    Meet Code Valet
  %p
    Code Valet is a free service which provides basic CI/CD tools for
    open source developers, via
    %a{:href => 'https://jenkins.io'}
      Jenkins 2
    with
    %a{:href => 'https://jenkins.io/doc/book/pipeline'}
      Jenkins Pipeline
    and
    %a{:href => 'https://jenkins.io/project/blueocean'}
      Blue Ocean.
  %p
    Utilizing a regularly updated "Jenkins distribution," consisting of
    many commonly used plugins built from their "master" branches, Code
    Valet also aims to provide the Jenkins project with rapid feedback
    based on real-world usage of Jenkins.
