!!! XML
!!!
%html
  %head
    %meta{:name => 'referrer', :content => 'no-referrer'}/
    %link{:rel => 'stylesheet',
      :href => 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css',
      :integrity => 'sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ',
      :crossorigin => 'anonymous'}/
    %script{:src => 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js',
      :crossorigin => 'anonymous',
      :integrity => 'sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn'}
    %meta{:charset => 'utf-8'}/
    %meta{:name => 'viewport',
      :content => 'width=device-width, initial-scale=1, shrink-to-fit=no'}/
    %title
      Code Valet
  %body
    %nav.navbar.navbar-inverse.bg-danger.navbar-toggleable
      %a.navbar-brand{:href => '/'}
        %img{:src => '/images/monkey-128.png',
          :width => '50', :height => '50', :alt => 'Max the Code Valet'}/
        Code Valet
      .navbar-collapse
        .navbar-nav
          - if env['warden'].user
            = env['warden'].user.login
            %a.nav-item.active.nav-link{:href => '/github/logout'}
              Logout
          - else
            %a.nav-item.active.nav-link{:href => '/login'}
              Log in

    .container.mt-5
      %div
        %h2
          Meet Code Valet
        %p
          Code Valet is a free service which provides basic CI/CD tools for
          open source developers, via
          %a{:href => 'https://jenkins.io'}
            Jenkins 2
          with
          %a{:href => 'https://jenkins.io/doc/book/pipeline'}
            Jenkins Pipeline
          and
          %a{:href => 'https://jenkins.io/project/blueocean'}
            Blue Ocean.
        %p
          Utilizing a regularly updated "Jenkins distribution," consisting of
          many commonly used plugins built from their "master" branches, Code
          Valet also aims to provide the Jenkins project with rapid feedback
          based on real-world usage of Jenkins.
