.contaienr
  %p
    Hello #{user.login}
  %p
    %a{:href => '/_to/jenkins'}
      Log into Jenkins
.container
  .row
    .col-md-6
      %h2
        Recent Updates
      %ul
        %li
          Nothing new to report!
    .col-md-6
      %h2
        Usage
      %p
        Infinity!
