!!! XML
!!!
%html
  %head
    %meta{:'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}/
    %meta{:'http-equiv' => 'refresh', :content => "0;URL=#{redirect_url}"}/
    %meta{:name => 'referrer', :content => 'no-referrer'}/
  %body
    %center
      Logging you into
      %a{:href => redirect_url}
        Jenkins
